"""
WSGI config for the {{ project_name }} project.

It exposes the WSGI callable as a module-level variable named ``application``.

For more information on this file, see
https://docs.djangoproject.com/en/stable/howto/deployment/wsgi/
"""

import os

from django.core.wsgi import get_wsgi_application

# Point to the project's settings module
os.environ.setdefault('DJANGO_SETTINGS_MODULE', '{{ project_name }}.settings')

# Get the WSGI application object
application = get_wsgi_application()

# Optional: Apply WSGI middleware here if needed (e.g., WhiteNoise for static files)
# from whitenoise import WhiteNoise
# application = WhiteNoise(application, root='/path/to/static/files') # Example
